.output_container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.back__button {
  margin: 7px !important;
  width: 550px !important;
  padding: 5px !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}

.output_container__card {
  margin-left: 10px;
  margin-right: 10px;
}
